<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9491">  <td>18/10/22 12:18:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BusinessEvents.HandleBusinessEvent()[pri:0, instance:com.selenium.commonfiles.businessEvents.BusinessEvents@6c80d78a]">HandleBusinessEvent</td> 
  <td>main@798981583</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>18/10/22 12:19:43</td>   <td>91454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BusinessEvents.runAfterSuite()[pri:0, instance:com.selenium.commonfiles.businessEvents.BusinessEvents@6c80d78a]">&lt;&lt;runAfterSuite</td> 
<td>&nbsp;</td>  <td>main@798981583</td>   <td></td> </tr>
<tr bgcolor="fa9491">  <td>18/10/22 12:18:11</td>   <td>-702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BusinessEvents.runBeforeSuite(java.lang.reflect.Method)[pri:0, instance:com.selenium.commonfiles.businessEvents.BusinessEvents@6c80d78a]">&gt;&gt;runBeforeSuite</td> 
<td>&nbsp;</td>  <td>main@798981583</td>   <td></td> </tr>
</table>
